<h1>FeedReferences#demo_feed</h1>
<p>Find me in app/views/feed_references/demo_feed.html.erb</p>

Title: <%= @feed.title %> <br />
URL: <%= @feed.url %> <br />
FeedURL: <%= @feed.feed_url %> <br />
Etag: <%= @feed.etag %> <br />

<% @entries.each do |entry| %>
<hr />
Entry Title: <%= entry.title %> <br />
Entry URL: <%= entry.url %><br />
Entry Author: <%= entry.author %><br />
Entry Summary: <%= entry.summary %><br />
Entry Content: <%= entry.content %><br />
Entry Cats: <%= entry.categories %><br />
<% end %>
